* {
    font-family: sans-serif;    
}
body {
    background: linear-gradient(to right, #2f4888, #000000);
    position: relative;
    margin:0;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor_login {
    display:flex;
    flex-direction: column;
    background-color: #E5E7E6;
    text-align: center;
    border-radius: 15px;
    height: 380px;
    width: 250px;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.contenedor_login:hover{
    transform: scale(1.1);
}
form {
    height: 100%;
}
p {
    text-align: start;
}

p , a {
    font-size: 13px;
}

a { 
    color: #B80C09;
    color:#2f4888;
    text-decoration: none;
}
input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #E5E7E6;
    margin:15px;
    width: 80%;
    color: #373F51;
}

label {
    font-weight:600;
    letter-spacing: 1px;
    color: #373F51;
}
h1 {
    margin-bottom: 40px;
    letter-spacing: 4px;
    font-size: 35px;
    color: #B80C09;
    color:black;
}   
.btn_login{
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid black;
    background: linear-gradient(to right, #2f4888, #2129a0);
    height:30px;
    width: 60%;
    cursor:pointer;
    transition: transform 0.3s ease;
    letter-spacing: 3px;
    box-shadow: 0px 1px 8px rgba(22, 21, 22, 0.7);
}
.btn_login:hover {
    transform: scale(1.1);
    background-color: #2f4888;
    opacity:0.8;
}
.btn_body {
    position: absolute;
    border-radius: 5px;
    border: 1px solid black;
    height: 40px;
    width: 80px;
    background-color: #2f4888;
    bottom: 2vh;
    right: 2vw;
    box-shadow: 10px 15px 50px rgba(22, 21, 22, 0.7);
}

img {
    margin-left: 40px;
    box-shadow: 10px 15px 50px rgba(22, 21, 22, 0.7);
}