
body{
    background-color: red;
    margin:0;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 80px;
    margin-bottom: 50px;
}

main {
    display:flex;
    align-items: center;
    justify-content: center;
}


.producto{
    background-color: blue;
    width: 80%;
}

.buscar{
    margin-bottom: 40px;
}

.buscar input {
    width: 400px;
    display:block;
}