
body {
    margin:0;
    background-color: red;
}

nav {
    display:Flex;
    background-color: blue;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
    height: 95px;
}



main{
    padding:20px;
    display: flex;
    flex-direction: column;
}

.filtrado > button{
    width: 180px;
    letter-spacing: 4px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.contenedor_producto{
    display:flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: center;
    gap:35px;
    
}

.producto {
    background-color: blue;
    height: 320px;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.datos {
    display:flex;
    gap: 15px;
}