*{
    font-family: 'Roboto', sans-serif;  
}


body {
    margin:0;
    background-color: #1C1C1C;
}

h1{
    margin:0;
    letter-spacing: 5px;
    cursor: default;
    color:white;
}

nav {
    background: linear-gradient(100deg, #A00A08, #600404, #000000);
    height: 70px;
    padding:12px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 90px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}


main{
    display:flex;
    justify-content: center;

}

.contenedor_Detalles{
    background: linear-gradient(135deg, #B7B5B3, #928f8f);
    height: 300px;
    width: 60%;
    margin: 0 35px 0 35px;
    box-sizing: border-box;
    padding:40px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.primera_columna , .segunda_columna{
    display: flex;
    flex-direction: column;
    gap:30px;   
}

input {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    letter-spacing: 4px;
    min-width: 150px;
}


button{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 30px;
    border-radius: 5px;
    

}