*{
    font-family: 'Roboto', sans-serif;  
}
body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content:space-evenly;
    background: linear-gradient(100deg, #B80C09, #700606, #000000);
    background: linear-gradient(100deg, #00A2E8, #0070B8, #001F3F);
    background: linear-gradient(100deg, #007BA7, #005B82, #002740); 


}

.contenedor_Admin {
    background: linear-gradient(135deg, #B7B5B3, #9A9997);
    height: 350px;
    width: 320px;
    padding:60px;
    border-radius: 25px;
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

h1{
    text-align: center;
    margin:0;
    letter-spacing: 4px;
    cursor: default;
    margin-bottom: 25px;
}

.btn_Admin {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    flex-grow: 1;

}


.img a img {
    border-radius: 50%;
}


button{
    display: block;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    letter-spacing: 3px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

/* Cambios generales para hacer la página más responsive */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .contenedor_Admin {
        width: 90%; /* Aumenta el ancho en pantallas pequeñas */
        padding: 40px; /* Reduce el padding */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }

    button {
        width: 100%; /* Asegúrate de que los botones ocupen todo el ancho */
        height: 50px; /* Aumenta la altura de los botones */
    }

    h1 {
        font-size: 24px; /* Ajusta el tamaño del título */
    }
}

@media (max-width: 480px) {
    .contenedor_Admin {
        padding: 20px; /* Reduce aún más el padding */
    }

    h1 {
        font-size: 20px; /* Reduce el tamaño del título */
    }

    button {
        height: 45px; /* Ajusta la altura de los botones */
        letter-spacing: 2px; /* Reduce el espaciado de las letras */
    }
}
