*{
    font-family: 'Roboto', sans-serif;  
}
body {
    margin:0;
    background-color: red;

    background-color: #1C1C1C;
}

nav {
    display:Flex;
    background-color: blue;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
    height: 95px;
    background: linear-gradient(100deg, #A00A08, #600404, #000000);
    background: linear-gradient(100deg, #007BA7, #005B82, #002740);
}

.logo a img {
    border-radius: 50%;
}

main{
    display: flex;
    flex-direction: column;
    padding:20px;
}

.filtrado > button{
    width: 180px;
    letter-spacing: 4px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 50px;
    background-color: #007BA7;
    color:#000000;
    cursor: pointer;
}




.contenedor_estadisticas{
    display:flex;
    gap: 35px;
    padding:0px;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: blue;
    height: 320px;
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #B7B5B3, #928f8f);
}

.datos {
    display:flex;
    gap: 15px;
}

p {
    font-weight: bold;
}


.producto img {
    max-width: 100%;  
    object-fit:cover; 
    border-radius: 5px; 
}


