body {
    margin:0;
}


nav {
    display:Flex;
    background: linear-gradient(100deg, #B80C09, #700606, #000000);
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}


h1 {
    letter-spacing: 4px;
    font-size: 30px;
}




.pedidos{
    display: flex;
    background-color: red;
}