* {
    font-family: 'Roboto', sans-serif;  
}

body {
    margin: 0;
    background-color: #1C1C1C;
}

h1 {
    margin: 0;
    letter-spacing: 5px;
    cursor: default;
    color: white;
    text-align: center; /* Centramos el título */
}

nav {
    background: linear-gradient(100deg, #A00A08, #600404, #000000);
    height: 70px;
    padding: 12px;
    display: flex;
    justify-content: space-between; /* Cambiamos a space-between */
    align-items: center;
    margin-bottom: 20px; /* Ajustamos el margen */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

nav img {
    height: 45px; /* Definimos un tamaño fijo para el logo */
}

main {
    display: flex;
    justify-content: center;
}

.contenedor_Detalles {
    background: linear-gradient(135deg, #B7B5B3, #928f8f);
    width: 60%;
    margin: 0 35px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Cambiamos a flex-start para alinear la parte superior */
    border-radius: 20px;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.primera_columna, .segunda_columna {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ajustamos el espacio entre elementos */
}

input, select {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px; /* Agregamos un padding */
    width: 100%; /* Aseguramos que ocupen todo el ancho */
}

.fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    letter-spacing: 2px; /* Reducimos el espacio para un mejor ajuste */
    min-width: 150px;
    color: white; /* Color blanco para mejor contraste */
}

.btn {
    text-align: center; /* Centra el botón */
    margin-top: 20px; /* Ajustamos el margen */
}

button {
    border-radius: 5px;
    padding: 10px 20px; 
    width: 150px; 
    font-size: 16px; 
    background-color: #A00A08; /* Usamos el mismo color que el nav */
    border: none; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; /* Añadimos transición para el hover */
}

button:hover {
    background-color: #600404; /* Color más oscuro al pasar el mouse */
}


/* alerta:*/

#mensajeExito {
    display: none; 
    position: fixed; 
    top: -100px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #600404; 
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out; 
    border:1px solid white;
  }
  
  /* Estilo cuando el mensaje se muestra */
  #mensajeExito.show {
    display: block;
    top: 50px; /* Ubicación final después de la animación */
  }
  